body {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    height: 50px;
    margin: 0;
    position: relative;
}

header div {
    color: #010079;
    text-shadow: 0 0 5px white;
    margin: 0;
    font-size: 25px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    margin-left: 20px;
}

.content {
    margin-top: 100px;
    display: inline-block;
    text-align: left;
}

.new {
    font-size: 40px;
    font-weight: 800;
}

.entry {
    width: 450px;
    border: .5px solid #dddddd;
    padding: 10px;
}

.title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 800;
}

.entry .type input {
    height: 40px;
    width: 450px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #dddddd;
    background-color: #f7f4f4;
}

.submit {
    margin-top: 30px;
}

.error {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}

/* check.php */

.bt input {
    font-size: 20px;
    margin-right: 70px;
}
